#conteudo{
  background: #dcdcdc;
  height: 400px;
  display: flex;




/*
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  */
}

.item{
  margin: 10px;
  width: 100px;
  height: 100px;
  background: aliceblue;
  border: 1px solid red;
}