* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #fff url(../img/fundo.png) repeat-x left top;
}

#container {
  width: 750px;
  margin: 0 auto;
}

#topo {
  height: 150px;
  background: url(../img/detalhe-topo.png) no-repeat right;
  padding: 25px;
}

.logo {
  width: 165px;
  height: 74px;
  background: url(../img/logo.png)no-repeat top center;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  border: 2px solid #dfdfdf;
}

p {
  margin: 5px 5px;
  text-align: justify;
  font-size: 1.1em;
}

h3 {
  text-transform: uppercase;
  display: inline;
  font-size: 0.8em;
  padding: 5px;
}

#topo .nav {
  margin-top: 25px;
  background: #b10333;
  float: left;
}

#topo .nav li {
  float: left;
}

#topo .nav a {
  font-size: 0.9em;
  display: block;
  padding: 0.5em 1.1em;
  line-height: 2.3em;
  text-decoration: none;
  color: whitesmoke;
  background: url(../img/divisor.png) repeat-y top left;
}

.nav .primeiro a {
  background: none;
}

#topo .nav a:hover {
  color: #69001d;
}


.home li a#home,
.brasil li a#brasil,
.internacional li a#internacional,
.economia li a#economia,
.saude li a#saude,
.ciencias li a#ciencias,
.fotos li a#fotos {
  color: #fff;
  background: #eb1451;
}

/*CONTEUDO DO SITE Colunas*/

#conteudo {
  margin-top: 40px;
}

#tres-coluna #primario {
  width: 270px;
  float: left;
  margin: 0 0 20px 195px;

}

#secundario {
  width: 270px;
  float: left;
  margin: 0 0 20px 15px;

}

#lateral {
  width: 180px;
  float: left;
  margin: 0 0 20px -750px;
}

#duas-colunas #primario {
  width: calc(750px - 195px);
  float: left;
  margin: 0 0 20px 195px;

}

#duas-colunas #lateral {
  width: calc(750px - 570px);
  float: left;
  margin: 0 0 20px -750px;

}

#uma-coluna #primario {
  max-width: 750px;
  margin: 0 0 20px 0;

}

/*CONTEUDO Das Colunas*/

.caixa {
  margin: 10px 0;
  padding: 5px;
  background: url(../img/fundo-caixa.png);
}

.caixa h2 {
  background: #294c71;
  text-align: left;
  padding: 5px;
  font-size: 1em;
  color: #fff;
}

.caixa-conteudo {
  padding: 5px;
  margin-top: 5px;
  background: rgb(255, 255, 255);

}

.caixa-conteudo .nav-lateral a {
  font-size: 0.9em;
  text-decoration: none;
  border-bottom: 1px solid #e4e4e4;
  line-height: 30px;
  padding: 3px;
  display: block;
  color: #000000;
  font-weight: 500;
}

.caixa-conteudo .nav-lateral a:hover {
  font-size: 0.9em;
  text-decoration: none;
  border-bottom: 1px solid #e4e4e4;
  line-height: 30px;
  padding-left: 25px;
  color: #5f5959;
  font-weight: 500;
}

.caixa-conteudo .nav-lateral li:hover {
  background: #f9f9f9 url(../img/marcador.png) no-repeat center left;
  text-align: left;
}

/*Conteudo News*/
.label-email,
.submit-email {
  background: #f9f9f9;
}

.label-email label {
  display: block;
  cursor: pointer;
}

.label-email input {
  width: 168px;
  font-size: 0.9em;
  background-color: #fff;
  border: 1px solid #a1a0a0;
  margin-bottom: 10px;
}

.submit-email input {
  color: #ffffff;
  font-weight: 600;
  background: #b10333;
  border: 2px solid #870529;
  margin: 0 0 5px 0;
  padding: 3px 20px;
}

.submit-email input:hover {
  color: #ffffff;
  font-weight: 600;
  background: #eb1451;
  border: 2px solid #870529;
  margin: 0 0 5px 0;
  padding: 3px 20px;
}

/*Conteudo Destaque*/

.img-noticia {
  width: 98%;
  border: 2px solid #dbdbdb;
}

a.links-geral {
  color: #ffffff;
  background: #870529;
  font-size: 0.8em;
  text-align: center;
  height: 20px;
  width: 70px;
  border-radius: 5px;
  line-height: 20px;
  padding: 0 10px;
}

a.links-geral:hover {
  color: #ffffff;
  background: #eb1451;
  font-size: 0.8em;
  text-align: center;
  height: 20px;
  width: 70px;
  border-radius: 5px;
  line-height: 20px;
  padding: 0 10px;
}

.nova-leg h3 {
  background: #bd0338;
  color: #fff;
}

.nova-entrev h3 {
  border: 1px solid red;
  background: #bd0338;
  color: rgb(10, 10, 10);
}

.nova-entrev img {
  width: 98%;
  border: 2px solid #dbdbdb;
}

/* Formatação Mundo*/

#lista-news li {
  padding: 2px;
  border-bottom: 1px solid #ccc;
  height: 65px;
}

#lista-news li a img {
  float: left;
  margin: 5px;
}

#lista-news li a {
  text-decoration: none;
}

#lista-news li a h3 {
  padding: 0;
  color: #3e7ab9;
  font-size: 0.8em;
}

#lista-news li a p {
  color: #000;
  font-size: 0.6em;
}

#lista-news li:hover {
  background: rgb(231, 231, 231);
}



/*RODAPE*/
#rodape {
  clear: both;
  background: rgb(41, 76, 113);
}

.rodape {
  color: #fff;
  font-weight: 300;
  padding: 20px 0px;
  text-align: center;
}