html,
body {
  height: 100%;
  margin: 0;
  font: 16px;
  color: #777;
  
}
@font-face {
  font-family: "Road Rage";
  src: url("../font/RoadRage.woff");
}

.conteudo {
  color: black;
  background-color: white;
  padding: 50px 80px;
  text-align: justify;
}

.conteudo h3 {
  font-family: "Road Rage";
  text-transform: uppercase;
  text-align: center;
  color: #111;
}

.conteudo p {
  text-align: left;
}

.caixa1,
.caixa2,
.caixa3,
.caixa4 {
  position: relative;
  border: 1px solid red;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.8;
}

.caixa1 {
  background-image: url(../img/imagem1.jpg);
}

.caixa2 {
  background-image: url(../img/imagem2.jpg);
}

.caixa3 {
  background-image: url(../img/imagem3.jpg);
}

.caixa4 {
  background-image: url(../img/imagem4.jpg);
}
/*COnfiguração do Titulo da pagina */
.titulo {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  text-align: center;
}

.titulo span.titulo-span a{
  text-decoration: none;
  background: #111;
  padding: 10px 50px;
  font-size: 25px;
  letter-spacing: 3px;
  text-align: center;
  color: aliceblue;
  border-radius: 10px;
}

.titulo span.titulo-span a:hover{
  background: #777;
  color: #111;
  opacity: 0.5;
}

.texto-content{
  width: 80%;
  margin: 0 auto;
 
}